@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400&family=Roboto&display=swap');
@import 'variables';
@import 'mixins';

body, html {
  background-color: #2c3033;
  color: white;
}

.banner {
	background-image: url('../assets/andrew-brinsford-lg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:100vh;
	width:100%;
	
   @extend %vertical-center;
  .header-text{
  	max-width: 90%;
  	color:white;
  	text-align:center;
  	font-family: $header-font;

    
    h1 {

    font-size: 3rem;
     animation: fadeIn 1s ease-in;
 
    }
  	

  	h2 {
 animation: fadeIn 2s ease-in;
  	font-size: 2rem;
  	}

  }
  hr{

   @include hr(
  $width: 200px,
  $margin: 20px,
 
)
  }
  

}
hr{

   @include hr(
  $width: 100px,
  $margin: 20px,

 
)
}



.video{
margin:40px auto;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  padding-left:0;

  iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
}

.text-block {
  margin-top:30px;
}

.subtitle {
  font-family: $header-font;
  font-size:2rem;
  margin-top:60px;
}


.message {
  display: none; }

.error-message {
  display: none; }

.success-text {
  color: white;
  font-size: 1em;
  padding: 10px; }

.display {
  display: inline-block;
  max-width: 80%;
  background-color: #3da1b9;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto; }

.display-error {
  display: inline-block;
  max-width: 80%;
  background-color: #E33761;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto; }
iframe {
  width:80%;
  height:auto;
}

.my-nav{
  background-color: #9fa5abb8;
}

.sound {
  margin-top: 40px;
}
.contact-form {
  max-width: 90%;
  margin: 40px auto 80px auto;
}


.card {
  background-color: $grey2;
    color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.project-card {
    margin-left:20px;
  i {
      position: relative;
      top:48px;
      left:-37px;
      font-size:2rem;
      color: $grey2;
  }
}

.timeline {
  border-left: solid $grey1 3px;
}

.port-item {
  margin: 40px auto 10px auto;
  background-color: gray;
  color: black;
  border-radius: 5px;
  padding:20px 0px 10px 0px;
  max-width: 90%;
}

.port-img {
  height: 100px;
  width: auto;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto 20px auto;
}


.port-text {
  max-width: 80%;
  font-size: 0.8em;
}




.quote {
  position:relative;
  top:30px;
  left:-10px;
  font-size:2rem;
  z-index:5;
  color:$grey1;
}


.footer {
  height: 120px;
  text-align: center;
  background-color: #1e1e1e;
  border-top: 1px solid gray;
  margin-top: 40px;
}

.website-by {
  font-size: 0.7em;
  color: gray;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.website-by a {
  color: silver;
  text-decoration: none;
}
  .icon-list {
    list-style: none;
    display: inline-flex;
    margin-top: 20px;

  }
  .icon-list li {
      padding-left: 10px;
      padding-right: 10px;
    }

  .icon-list a {
      color: gray;
      font-size: 2em;
      transition: all 0.5s ease-in-out;
    }

  .icon-list a:hover {
    cursor: pointer;
    opacity: 0.5;
  }





@keyframes pulse {
  from {
    color: white;
  }
  to {
    color: black;
  }
}


@-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
@keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }



@keyframes grow {
  from {width:0px}
  to {width:200px;}
}




